  <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Welcome</title>

<link rel="stylesheet" type="text/css" href="./css/bootstrap.css"></link>
</head>
<body class="background" style="background-color: #39424B; color:#ffffff">
<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand" href="index.html" style="margin-left: 5px">Web Prototyping Tool</a>			
		</div>
	</div>
	
	<h1 style="margin-top: 60px;">Welcome to Web Prototyping Tool</h1>
	
	<div id="helpmenu" style="float: left;position: absolute;display: block; margin-top: 10px; width:450px;">
    <h3 style="margin-bottom: 10px; margin-left: 5px">How to use Web Prototyping Tool</h3>
    <ul class="_">
        <li>Click on Choose file and select images</li>
        <li>Select the starting image</li>
        <li>Select an area on image to make it clickable</li>
        <li>Choose the next image using "Select next screen" dropdown</li>
        <li>Click on Add Event</li>
        <li>Click on Preview</li>
    </ul>
</div>
	
</body>
</html>

